# ASSIGNMENT - SETS

Q1. What is a set in Python?

A1) A set in Python is a collection of unique, unordered, and unindexed elements. It is one of the four built-in data types in Python used to store collections of data, the other three being List, Tuple, and Dictionary. Each of these data types has different qualities and usage. Sets are written with curly brackets1.

Here is an example of a set in Python:

In [2]:
s={"car","bike","truck"}

type(s)

This code creates a set with three elements: “apple”, “banana”, and “cherry”. Since sets are unordered, the elements may appear in any order when printed.

Sets are useful for storing and performing operations on data where the order of elements does not matter, and duplicates are not allowed. For example, you can use sets to find the unique elements in a list or to perform mathematical set operations like union, intersection, and difference.

Q2.How do you create a set in Python?

A2 ) There are two ways to create a set in Python,which are as follows :-

Using curly braces
You can also create a set by placing the elements of the set inside curly braces, separated by commas. For example, the following code also creates a set containing the integers 1, 2, 3, and 4:

In [6]:
s1 = {1, 2, 3, 4}

In [5]:
type(s1)

set

Using the set() function

The set() function takes any iterable as its argument and returns a set containing the unique elements of the iterable. For example, the following code creates a set containing the integers 1, 2, 3, and 4:

In [7]:
s2 = set([1, 2, 3, 4])

In [8]:
print(s2)

{1, 2, 3, 4}

In [9]:
type(s2)

set

Q3. How do you add elements to a set in Python?

A3) There are two ways to add elements to a set in Python.

Using the add() method

The add() method takes one element as its argument and adds it to the set. For example, the following code adds the integer 5 to the set my_set

In [10]:
my_set = {1, 2, 3, 4}

In [11]:
my_set.add(5)

In [12]:
my_set

{1, 2, 3, 4, 5}

Using the update() method

The update() method takes any iterable as its argument and adds all of the elements of the iterable to the set. For example, the following code adds the integers 5, 6, and 7 to the set my_set:

In [13]:
my_set = {1, 2, 3, 4}

In [14]:
my_set.update([5, 6, 7])

In [15]:
my_set

{1, 2, 3, 4, 5, 6, 7}

Note :- It is important to note that elements cannot be added to a set twice. If you try to add an element to a set that is already in the set, the element will not be added and no error will be raised.

Q4. How do you remove elements from a set in Python?

A4) There are three ways to remove elements from a set in Python they are as follows

Using the remove() method
The remove() method takes one element as its argument and removes it from the set. If the element is not in the set, a ValueError exception will be raised. For example, the following code removes the integer 5 from the set .

In [16]:
my_set = {1, 2, 3, 4, 5}

In [17]:
my_set.remove(5)

In [18]:
my_set

{1, 2, 3, 4}

Using the discard() method
The discard() method takes one element as its argument and removes it from the set. If the element is not in the set, no error will be raised. For example, the following code removes the integer 5 from the set my_set, but no error is raised because 5 is not in the set:

In [19]:
my_set = {1, 2, 3, 4, 5}

In [20]:
my_set.discard(5)

In [21]:
print(my_set)

{1, 2, 3, 4}

It is important to note that the remove() method will raise an error if the element is not in the set, while the discard() method will not raise an error.

The pop() method removes and returns an arbitrary element from the set. If the set is empty, a KeyError exception will be raised. For example, the following code removes an arbitrary element from the set my_set and prints it to the console:

In [23]:
my_set = {1, 2, 3, 4, 5}

In [24]:
element = my_set.pop()

In [25]:
print(element)

1

As you can see, the element 1 was removed from the set and printed to the console.

It is important to note that the pop() method will remove and return an arbitrary element from the set. This means that you cannot be sure which element will be removed. If you need to remove a specific element from the set, you should use the remove() or discard() method.

Q5. How do you get the length of a set in Python?

A5 ) We can get the length of a set in Python using the len() function. The len() function takes a single argument, which is the set you want to get the length of, and returns the number of elements in the set. Here is an example:

In [26]:
s5 ={1,2,3,4,5,6,7,8,9,10}

In [28]:
print(len(s5))

10

This code creates a set with three elements, then uses the len() function to get the number of elements in the set. The resulting output is 10, indicating that the set has three elements.